//======================================================BOXED LAYOUT=======================================================

$container-max-width: 100%;
$container-width: 1100px; // tùy thuộc vào container của bản thiết kế // $container-width = container (đo từ bản thiết kế) + 30px

/*GRID - media queries breakpoints*/
$xxs-min: 576px; // CÓ THỂ TÙY CHỈNH
$xs-min: 768px; // KHÔNG THAY ĐỔI
$sm-min: 992px; // KHÔNG THAY ĐỔI
$md-min: 1200px; // KHÔNG THAY ĐỔI
$lg-min: 1600px; // CÓ THỂ TÙY CHỈNH

$small_1100-min: 1100px;

$small_1100-max: ($small_1100-min - 1);

$xxs-max: ($xxs-min - 1); // Small Mobile
$xs-max: ($xs-min - 1); // Mobile
$sm-max: ($sm-min - 1); // Tablet
$md-max: ($md-min - 1); // Desktop
$lg-max: ($lg-min - 1); // Large Desktop

//=====================================CÁC BIẾN KHÔNG THAY ĐỔI GIÁ TRỊ KHI RESPONSIVE======================================
// colors - tuỳ chỉnh
$white-cl: #fff;
$black-cl: #000;
$red-cl: #d81f1f;
$blue-cl: #00afab;
$yellow-cl: #bea67c;
$ccc-cl: #ccc;
$gradient-cl: linear-gradient(180deg, #df1cff 0%, #814bf6 50.55%, #00bcff 100%);

// timing transition - tuỳ chỉnh
$t: 0.4s;
$cubic: cubic-bezier(0.84, 0.13, 0.33, 0.97);

$margin__text: 15px;
$margin__content: 50px;

$fw__h2-title: bold;
$fw__btn-mini: bold;
$fs__btn-mini: 14px;
$h2__fs: 40px;  // font-size h2 desktop
$h2__lh: 80px;
$h2__fs-sm: 25px; // font-size h2 tablet
$h2__lh-sm: 30px;
$h3__fs: 15px;
$h3__lh: 24px;
$h3__fs-sm: 13px; // font-size h3 tablet
$h3__lh-sm: 20px;
$p__fs: 13px;
$p__lh: 22px;
$p__fs-sm: 11px; //font-size p tablet
$p__lh-sm: 18px;
$max__width-p: 155px; // max_width text p in tablet

$padding__section-xs: 45px; //padding xs

// 
$upcaper: uppercase;

// ========================================CÁC BIẾN CÓ THAY ĐỔI GIÁ TRỊ KHI RESPONSIVE=====================================

:root {
    //=========== VÍ DỤ ============//

    // font-size & line-height heading

    --h1-fs: 7.2rem;
    --h1-lh: 8rem;

    --h2-fs: 5.2rem;
    --h2-lh: 6rem;

    --h3-fs: 3.2rem;
    --h3-lh: 4.2rem;

    --h4-fs: 2.4rem;
    --h4-lh: 3.2rem;

    --h5-fs: 2rem;
    --h5-lh: 3rem;

    --body16-fs: 1.6rem;
    --body16-lh: 2.6rem;

    --body14-fs: 1.4rem;
    --body14-lh: 2.2rem;

    // Genaral Variable
    --padding__section: 90px;

    

    --fzTitle: 80px;

    --lhTitle: 80px;

    --gap: 30px; // gap này sử dụng cho gap cột & padding của container, container-fluid

    --height-header: 80px;
    --height-button: 56px;
    --ptop: 150px;
    // --pd-section: 120px;

    @media (max-width: $sm-max) {
        // Tablet
    }
    @media (max-width: $xs-max) {
        // Mobile
        --h1-fs: 3.6rem;
        --h1-lh: 4.2rem;

        --h2-fs: 2.8rem;
        --h2-lh: 3.8rem;

        --h3-fs: 2.2rem;
        --h3-lh: 3rem;

        --h4-fs: 2rem;
        --h4-lh: 3.2rem;

        --gap: 20px;

        --height-header: 70px;
        --pd-section: 50px;
        --ptop: 120px;
    }
}
